// .start {

// }

.start-templates {
  padding: 16px;
  background: $start-templates;
  border: solid 2px $start-border;
  min-height: 1080px;
}

.start-recent {
  padding: 16px;
  background: $start-recent;
  border: solid 2px $start-border;

}

.start-recent-cards {
  background: $start-recent;
}

.start-forums {
  padding: 16px;
  background: $start-chats;
  border: solid 2px $start-border;
}

.start-title {
  font-size: 1.3em;
  width: 100%;
}

.gallery-tile {
  background: $swan-white;
  margin: 10px;
  width:80%;
  img {
    padding: 16px;
  }
}

.prj-card-title {
  width: 160px;
  // display: flex;
  // justify-content: center;
}

.start {
  overflow: hidden;
}

.not-logged {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.md-card {
  width: 350px;
  margin: 8px;
  display: inline-block;
  vertical-align: top;
}

.gal {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  transition: transform 0.25s cubic-bezier(0.4, 0.0, 0.2, 1), box-shadow 0.25s cubic-bezier(0.4, 0.0, 0.2, 1);
  &:hover {
    transform: scale(1.1);
    box-shadow:  0 32px 80px 14px rgba(0,0,0,0.36), 0 0 0 1px rgba(0, 0, 0, 0.3);
 }
 img {
   width: 80%;
   margin-left: 10%;
   margin-right: 10%;
 }

 .md-card-media+.md-card-header {
    padding: 0 16px 16px 16px;
  }

  .prj-card-title {
    // width: 160px;
    font-size: 1.3em;
  }
}

.highlight {
  color: #e0dfdc;
  background: #556677;
  letter-spacing: 0.1em;

  font-size: 1.2em;
  font-family: Roboto;
  font-weight: bold;

  color: #e0dfdc;
  background: #556677;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.highlight-description {
  color: #e0dfdc;
  background: #556677;
  letter-spacing: 0.1em;

  font-size: 1.4em;
  font-family: Roboto;
  font-weight: bold;

  color: #ffb142;
  background: #556677;
  letter-spacing: 0.1em;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a,
    0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222,
    0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a,
    0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212,
    0 22px 30px rgba(0, 0, 0, 0.9);
}

.project-id {
  color: #cccccc;
}

.md-card .md-subhead {
  width: 80%;
}